In [64]:
import numpy as np

import pandas as pd

In [188]:
data = pd.read_csv('studentperformancefactors.csv')

In [190]:
data.head()

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70

In [192]:
#Exploring the data (columns and rows)

print('Number of Rows and Columns:  \n', data.shape)
print('All Variables: \n', data.columns)
print ('\nUnique values :  \n',data.nunique())

Number of Rows and Columns:
 (6607, 20)
All Variables:
 Index(['Hours_Studied', 'Attendance', 'Parental_Involvement',
       'Access_to_Resources', 'Extracurricular_Activities', 'Sleep_Hours',
       'Previous_Scores', 'Motivation_Level', 'Internet_Access',
       'Tutoring_Sessions', 'Family_Income', 'Teacher_Quality', 'School_Type',
       'Peer_Influence', 'Physical_Activity', 'Learning_Disabilities',
       'Parental_Education_Level', 'Distance_from_Home', 'Gender',
       'Exam_Score'],
      dtype='object')

Unique values :
 Hours_Studied                 41
Attendance                    41
Parental_Involvement           3
Access_to_Resources            3
Extracurricular_Activities     2
Sleep_Hours                    7
Previous_Scores               51
Motivation_Level               3
Internet_Access                2
Tutoring_Sessions              9
Family_Income                  3
Teacher_Quality                3
School_Type                    2
Peer_Influence                 3
Physical_Activity              7
Learning_Disabilities          2
Parental_Education_Level       3
Distance_from_Home             3
Gender                         2
Exam_Score                    45
dtype: int64

In [196]:
#Missing Values
missing_values = data.isnull().sum()
print('Missing Values:\n', missing_values)

#Count, Mean, Standard Deviation, Minimum, Q1, Q3, Median, Max
data.describe()

Missing Values:
 Hours_Studied                  0
Attendance                     0
Parental_Involvement           0
Access_to_Resources            0
Extracurricular_Activities     0
Sleep_Hours                    0
Previous_Scores                0
Motivation_Level               0
Internet_Access                0
Tutoring_Sessions              0
Family_Income                  0
Teacher_Quality               78
School_Type                    0
Peer_Influence                 0
Physical_Activity              0
Learning_Disabilities          0
Parental_Education_Level      90
Distance_from_Home            67
Gender                         0
Exam_Score                     0
dtype: int64

,Hours_Studied,Attendance,Sleep_Hours,Previous_Scores,Tutoring_Sessions,Physical_Activity,Exam_Score
count,6607.000000,6607.000000,6607.00000,6607.000000,6607.000000,6607.000000,6607.000000
mean,19.975329,79.977448,7.02906,75.070531,1.493719,2.967610,67.235659
std,5.990594,11.547475,1.46812,14.399784,1.230570,1.031231,3.890456
min,1.000000,60.000000,4.00000,50.000000,0.000000,0.000000,55.000000
25%,16.000000,70.000000,6.00000,63.000000,1.000000,2.000000,65.000000
50%,20.000000,80.000000,7.00000,75.000000,1.000000,3.000000,67.000000
75%,24.000000,90.000000,8.00000,88.000000,2.000000,4.000000,69.000000
max,44.000000,100.000000,10.00000,100.000000,8.000000,6.000000,101.000000

In [236]:
#Frequency Counts (Categorical Variable)
ParentalInvolvement_count = data['Parental_Involvement'].value_counts()
print('Frequency Count for Parental Involvement:\n', ParentalInvolvement_count)

ResourceAccess = data['Access_to_Resources'].value_counts()
print('\nFrequency Count for Access_to_Resources:\n', ResourceAccess)

Extracurricular_Activities_count = data['Extracurricular_Activities'].value_counts()
print('\nFrequency Count for Extracurricular_Activities:\n', Extracurricular_Activities_count)

Motivation_Level_count = data['Extracurricular_Activities'].value_counts()
print('\nFrequency Count for Motivation_Level:\n', Motivation_Level_count)

Internet_Access_count = data['Internet_Access'].value_counts()
print('\nFrequency Count for Internet_Access:\n', Internet_Access_count)

Family_Income_count = data['Family_Income'].value_counts()
print('\nFrequency Count for Family_Income:\n', Family_Income_count)

Teacher_Quality_count = data['Teacher_Quality'].value_counts()
print('\nFrequency Count for Teacher_Quality:\n', Teacher_Quality_count)

School_Type_count = data['School_Type'].value_counts()
print('\nFrequency Count for School_Type:\n', School_Type_count)

Peer_Influence_count = data['Peer_Influence'].value_counts()
print('\nFrequency Count for Peer_Influence:\n', Peer_Influence_count)

Learning_Disabilities_count = data['Learning_Disabilities'].value_counts()
print('\nFrequency Count for Learning_Disabilities:\n', Learning_Disabilities_count)

Parental_Education_Level_count = data['Parental_Education_Level'].value_counts()
print('\nFrequency Count for Parental_Education_Level:\n', Parental_Education_Level_count)

Distance_from_Home_count = data['Distance_from_Home'].value_counts()
print('\nFrequency Count for Distance_from_Home:\n', Distance_from_Home_count)

Gender_count = data['Gender'].value_counts()
print('\nFrequency Count for Gender:\n', Gender_count)

Frequency Count for Parental Involvement:
 Parental_Involvement
Medium    3362
High      1908
Low       1337
Name: count, dtype: int64

Frequency Count for Access_to_Resources:
 Access_to_Resources
Medium    3319
High      1975
Low       1313
Name: count, dtype: int64

Frequency Count for Extracurricular_Activities:
 Extracurricular_Activities
Yes    3938
No     2669
Name: count, dtype: int64

Frequency Count for Motivation_Level:
 Extracurricular_Activities
Yes    3938
No     2669
Name: count, dtype: int64

Frequency Count for Internet_Access:
 Internet_Access
Yes    6108
No      499
Name: count, dtype: int64

Frequency Count for Family_Income:
 Family_Income
Low       2672
Medium    2666
High      1269
Name: count, dtype: int64

Frequency Count for Teacher_Quality:
 Teacher_Quality
Medium    3925
High      1947
Low        657
Name: count, dtype: int64

Frequency Count for School_Type:
 School_Type
Public     4598
Private    2009
Name: count, dtype: int64

Frequency Count for Peer_Influence:
 Peer_Influence
Positive    2638
Neutral     2592
Negative    1377
Name: count, dtype: int64

Frequency Count for Learning_Disabilities:
 Learning_Disabilities
No     5912
Yes     695
Name: count, dtype: int64

Frequency Count for Parental_Education_Level:
 Parental_Education_Level
High School     3223
College         1989
Postgraduate    1305
Name: count, dtype: int64

Frequency Count for Distance_from_Home:
 Distance_from_Home
Near        3884
Moderate    1998
Far          658
Name: count, dtype: int64

Frequency Count for Gender:
 Gender
Male      3814
Female    2793
Name: count, dtype: int64

In [256]:
threshold = 70
data['Exam_Result'] = np.where(data['Exam_Score'] >= threshold, 'Passed', 'Not Passed')

Exam_count = data['Exam_Result'].value_counts()
print('\nFrequency Count for Exam:\n', Exam_count)

Frequency Count for Exam:
 Exam_Result
Not Passed    4982
Passed        1625
Name: count, dtype: int64

In [303]:
#Query Data

RevisedData = data[['Exam_Score', 'Exam_Result', 'Learning_Disabilities', 'Tutoring_Sessions', 'Extracurricular_Activities', 'School_Type']]

RevisedData

RevisedData.to_csv('RevisedData.csv', index=False)

In [313]:
NewData = pd.read_csv('RevisedData.csv')

In [315]:
NewData.describe()

        Exam_Score  Tutoring_Sessions
count  6607.000000        6607.000000
mean     67.235659           1.493719
std       3.890456           1.230570
min      55.000000           0.000000
25%      65.000000           1.000000
50%      67.000000           1.000000
75%      69.000000           2.000000
max     101.000000           8.000000

In [317]:
Learning_Disabilities_count = NewData['Learning_Disabilities'].value_counts()
print('\nFrequency Count for Learning_Disabilities:\n', Learning_Disabilities_count)

Extracurricular_Activities_count = NewData['Extracurricular_Activities'].value_counts()
print('\nFrequency Count for Extracurricular_Activities:\n', Extracurricular_Activities_count)

School_Type_count = NewData['School_Type'].value_counts()
print('\nFrequency Count for School_Type:\n', School_Type_count)

Frequency Count for Learning_Disabilities:
 Learning_Disabilities
No     5912
Yes     695
Name: count, dtype: int64

Frequency Count for Extracurricular_Activities:
 Extracurricular_Activities
Yes    3938
No     2669
Name: count, dtype: int64

Frequency Count for School_Type:
 School_Type
Public     4598
Private    2009
Name: count, dtype: int64

In [327]:
# converting categorical variables to numeric

NewData['Learning_Disabilities_num'] = NewData['Learning_Disabilities'].map({'Yes': 1, 'No': 0})
NewData['Extracurricular_Activities_num'] = NewData['Extracurricular_Activities'].map({'Yes': 1, 'No': 0})
NewData['School_Type_num'] = NewData['School_Type'].map({'Public': 0, 'Private': 1})

print(NewData[[
    'Learning_Disabilities_num', 
    'Extracurricular_Activities_num', 
    'School_Type_num'
]])

      Learning_Disabilities_num  Extracurricular_Activities_num  \
0                             0                               0
1                             0                               0
2                             0                               1
3                             0                               1
4                             0                               1
...                         ...                             ...
6602                          0                               0
6603                          0                               0
6604                          0                               1
6605                          0                               1
6606                          0                               1

      School_Type_num
0                   0
1                   0
2                   0
3                   0
4                   0
...               ...
6602                0
6603                0
6604                0
6605                1
6606                0

[6607 rows x 3 columns]